<div class="view-project-container">
  <button class="back-btn" (click)="goBack()">⬅ Regresar</button>

    <h2>Detalles del Proyecto</h2>
    
    <div class="project-info">
      <p *ngIf="project?.title"><strong>Nombre del Proyecto:</strong> {{ project.title }}</p>
      <p><strong>Nombre del Proyecto:</strong> {{ project.name }}</p>
      <p><strong>Descripción:</strong> {{ project.description }}</p>
      <p><strong>Presentación:</strong> {{ project.presentation }}</p>
      <p><strong>Estado:</strong> {{ project.status }}</p>
      <p><strong>Revisión:</strong> {{ project.revision }}</p>
      <p><strong>Categoría:</strong> {{ project.category }}</p>
      <p><strong>Calificación:</strong> {{ project.rating }}</p>
    </div>
    
    <div class="project-actions">
      <button class="edit-btn" (click)="editProject()">Modificar</button>
      <button class="delete-btn" (click)="deleteProject()">Eliminar</button>
    </div>
  </div>