<div class="change-password-container">
  <!-- Botón de regresar -->
  <button class="back-btn" (click)="goBack()">⬅ Regresar</button>
  <h2>Cambiar Contraseña</h2>
  <p>Elige una contraseña segura y no vuelvas a usarla para otras cuentas.</p>
  <p>La contraseña debe tener al menos 6 caracteres e incluir una combinación de números y letras.</p>

  <form (ngSubmit)="cambiarContrasena($event)">
    <!-- Contraseña actual -->
    <label for="currentPassword">Contraseña Actual:</label>
    <input type="password" id="currentPassword" [(ngModel)]="currentPassword" name="currentPassword" required>

    <!-- Contraseña nueva -->
    <label for="newPassword">Contraseña Nueva:</label>
    <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required minlength="6">
    <div *ngIf="newPassword && newPassword.length < 6" class="error-message">La contraseña debe tener al menos 6 caracteres.</div>

    <!-- Confirmar nueva contraseña -->
    <label for="confirmPassword">Repetir Contraseña Nueva:</label>
    <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
    <div *ngIf="newPassword !== confirmPassword && confirmPassword" class="error-message">Las contraseñas no coinciden.</div>

    <!-- Botón para enviar el formulario -->
    <button type="submit" class="submit-btn">Cambiar Contraseña</button>
  </form>

  <div class="message" *ngIf = "message">{{ message }}</div>

