<div class="register-page">
<div class="register-container">
    <h2>Regístrate para contratar talento</h2>
    <button class="google-btn" (click)="openGoogleAuth()">Continuar con Google</button>
  
    <form (ngSubmit)="register()" #registerForm="ngForm">
      <div class="input-group">
        <label for="firstName">Nombre</label>
        <input type="text" id="firstName" placeholder="Nombre" [(ngModel)]="customer.firstName" name="firstName" required />
      </div>
  
      <div class="input-group">
        <label for="lastName">Apellido</label>
        <input type="text" id="lastName" placeholder="Apellido" [(ngModel)]="customer.lastName" name="lastName" required />
      </div>
  
      <div class="input-group">
        <label for="email">Dirección de correo electrónico</label>
        <input
          type="email"
          id="email"
          placeholder="Dirección de correo electrónico"
          [(ngModel)]="customer.email"
          name="email"
          required
          #email="ngModel"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        />
        <div *ngIf="email.invalid && email.touched" class="error-message">
          Por favor, introduce un correo electrónico válido.
        </div>
      </div>
  
      <div class="input-group">
        <label for="password">Contraseña</label>
        <input
          type="password"
          id="password"
          placeholder="Contraseña"
          [(ngModel)]="customer.password"
          name="password"
          required
        />
      </div>
  
      <div class="input-group">
        <label for="confirmPassword">Confirmar Contraseña</label>
        <input
          type="password"
          id="confirmPassword"
          placeholder="Confirmar contraseña"
          [(ngModel)]="customer.confirmPassword"
          name="confirmPassword"
          required
        />
      </div>
  
      <div class="checkbox-group">
        <input type="checkbox" id="terms" required />
        <label for="terms">Sí, comprendo y acepto los Términos de servicio y la Política de privacidad.</label>
      </div>
  
      <button
        type="submit"
        class="register-btn"
        [disabled]="registerForm.invalid"
      >
        Registrarse
      </button>
  
      <p>¿Ya tienes una cuenta? <a href="#" class="login-link">Inicia sesión aquí</a></p>
    </form>
  </div>
</div>